<!DOCTYPE html>
<html>

<head>
	<title>Waypoint Wheelchair</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<p align="center"><a href=support ><button class=grey style="height:75px;width:150px">Support</button></a></p>
	<p align="center"><a href=letsgo ><button class=grey style="height:75px;width:150px">Let's Go</button></a></p>
	<p align="center"><a href=helpinghand ><button class=grey style="height:75px;width:150px">Helping Hand</button></a></p>
</body>

</html>